main {
  background: var(--background);

  header {
    padding: 16px;
  }

  section {
    padding: 16px;

    [sdk-flat-button] {
      margin: 16px 0;
    }
  }

  footer {
    padding: 16px;

    button {
      margin-right: 16px;
    }
  }
}

