@import './libs/ngx-slice-kit/src/lib/core/styles/core';

table.demo-api-definition {
    width: 100%;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;

    td, th {
        padding: 8px;
        border-right: 1px solid var(--background-a90);

        &:last-child {
            border-right: none;
        }

        &:first-child {
            white-space: nowrap;
        }

        &.wide {
            width: 100%;
        }

        &.no-wrap {
            white-space: nowrap;
        }

        &.title {
            padding: 16px;
            alignment: center;
        }

        &.attr {
            min-width: 20%;
        }

        &.desc {
            width: 66%;
        }

        &.type {
            white-space: nowrap;
        }

        &.value {
            width: 50%;
            text-align: center;
        }
    }

    td {
        .required-mark {
            color: var(--warn-rgb);
        }

        &.title {
            background: rgba(var(--background-raw), 0.05);
        }

        &.attr {
            background-color: rgba(var(--primary-raw), 0.05);
        }

        &.desc {
            small {
                color: var(--base-a70);
            }
        }

        &.type {
            color: var(--base-a70);
        }
    }

    tr {
        border-bottom: 1px solid var(--background-a90);
    }

    thead {
        font-weight: 500;
        font-size: 18px;
    }

    tbody {

        tr:last-child {
            border-bottom: none;
        }
    }
}
