@import './libs/ngx-slice-kit/src/lib/core/styles/core';

table.demo-api-definition {
    width: 100%;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 4px;

    td, th {
        padding: 8px;
        border-right: 1px solid var(--background-a90);

        &:last-child {
            border-right: none;
        }

        &:first-child {
            white-space: nowrap;
        }

        &.wide {
            width: 100%;
        }

        &.no-wrap {
            white-space: nowrap;
        }

        .required-mark {
            color: var(--warn-rgb);
        }
    }

    tr {
        border-bottom: 1px solid var(--background-a90);
    }

    thead {
        font-weight: 500;
        font-size: 18px;
    }

    tbody {

        tr:last-child {
            border-bottom: none;
        }

        td {
            &.title {
                padding: 16px;
                background: rgba(var(--background-raw), 0.05);
                alignment: center;
            }

            &.attr {
                background-color: rgba(var(--primary-raw), 0.05);
                min-width: 33%;
            }

            &.desc {
                width: 66%;

                small {
                    color: var(--base-a70);
                }
            }

            &.type {
                color: var(--base-a70);
            }
        }
    }
}
