<table class="demo-api-definition">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Description</th>
        <th class="type">Type</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let a of apis">
        <tr>
            <td class="attr">
                <p>
                    <b>{{a.label}}</b>
                    <span class="required-mark" *ngIf="a.required">*</span>
                </p>
            </td>
            <td class="desc">
                <div class="flex-column">
                    <p>{{a.description || '-'}}</p>
                    <ng-container *ngIf="a.default_value?.toString().length">
                        <span class="spacer"></span>
                        <small>Default value: {{a.default_value}}</small>
                    </ng-container>
                </div>
            </td>
            <td class="type">
                <p>{{a.type}}</p>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
