<table class="demo-api-definition">
    <thead>
    <tr>
        <th class="attr">{{argsVisible ? 'Method' : 'Attribute'}}</th>
        <th *ngIf="typeVisible" class="type">{{argsVisible ? 'Returns' : 'Type'}}</th>
        <th *ngIf="argsVisible" class="type">Arguments</th>
        <th *ngIf="descVisible" class="desc">Description</th>
        <th *ngIf="valueVisible" class="value">Value</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let a of apis">
        <tr>
            <td class="attr">
                <p>
                    <b>{{a.label}}</b>
                    <span class="required-mark" *ngIf="a.required">*</span>
                </p>
            </td>
            <td *ngIf="typeVisible" class="type">
                <p>{{a.type}}</p>
            </td>
            <td *ngIf="argsVisible" class="type">
                <div class="flex-column layout-start-start">
                    <small *ngFor="let arg of a.args">{{arg.name}}: {{arg.type}}</small>
                </div>
            </td>
            <td *ngIf="descVisible" class="desc">
                <div class="flex-column">
                    <p>{{a.description || '-'}}</p>
                    <ng-container *ngIf="a.default_value?.toString().length">
                        <span class="spacer"></span>
                        <small>Default value: {{a.default_value}}</small>
                    </ng-container>
                </div>
            </td>
            <td *ngIf="valueVisible" class="value">
                <p>{{a.value}}</p>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
