<nav class="flex-column navigation">
    <sdk-nav-menu>

        <!-- Guides -->
        <sdk-nav-menu-group label="Guides">
            <a sdk-nav-menu-item routerLinkActive="active"
               routerLink="/guides/home">Home page</a>
            <a sdk-nav-menu-item routerLinkActive="active"
               routerLink="/guides/get-started">Get started</a>
            <!--            <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--               routerLink="/guides/style-guide">Style guide</a>-->
            <!--            <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--               routerLink="/guides/schematics">Schematics</a>-->
            <a sdk-nav-menu-item routerLinkActive="active"
               routerLink="/guides/theming">Theming</a>
            <a sdk-nav-menu-item routerLinkActive="active"
               routerLink="/guides/glyphs">Glyphs</a>
            <!--            <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--               routerLink="/guides/typography">Typography</a>-->
            <!--            <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--               routerLink="/guides/meta">Meta</a>-->
            <!--            <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--               routerLink="/guides/ssr">SSR Compatibility</a>-->
            <a sdk-nav-menu-item routerLinkActive="active"
               routerLink="/guides/adaptive-grid">Adaptive grid</a>
        </sdk-nav-menu-group>

        <sdk-nav-menu-group label="Documents">

            <!-- Buttons and indicators -->
            <sdk-nav-menu-group label="Buttons and Indicators">
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/buttons/badges">Badges</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/buttons/button">Button</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/buttons/segmented">Button group</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/buttons/chips">Chips</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/buttons/icon">Icon</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/buttons/ripple">Ripple</a>-->
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/buttons/stepper">Stepper</a>-->
            </sdk-nav-menu-group>

            <!-- Inputs -->
            <sdk-nav-menu-group label="Inputs">
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/inputs/checkbox">Checkbox</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/inputs/datepicker">Datepicker</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/inputs/input">Input</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/inputs/radio">Radio</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/inputs/toggle">Toggle</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/inputs/textarea">Textarea</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/inputs/wysiwyg">WYSIWYG</a>-->
            </sdk-nav-menu-group>

            <!-- Dropdown menus -->
            <sdk-nav-menu-group label="Dropdown menus">
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/dropdown/autocomplete">Autocomplete</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/dropdown/context">Context menu</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/dropdown/select">Select</a>
            </sdk-nav-menu-group>

            <!-- Modals -->
            <sdk-nav-menu-group label="Modals">
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/modals/alert">Alerts</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/modals/bottom-sheet">Bottom sheet</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/modals/dialog">Dialog</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/modals/popover">Popover</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/modals/popup">Popup</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/modals/tooltip">Tooltip</a>
            </sdk-nav-menu-group>

            <!-- Navigation -->
            <sdk-nav-menu-group label="Navigation">
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/navigation/menu">Menu</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/navigation/sidenav">Sidenav</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/navigation/tabs">Tabs</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/navigation/navtabs">Nav tabs</a>
            </sdk-nav-menu-group>

            <!-- Cards -->
            <!--            <sdk-nav-menu-group label="Cards" disabled>-->
            <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--                   routerLink="/docs/cards/dashboard">Dashboard cards</a>-->
            <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--                   routerLink="/docs/cards/shopping">Shopping cards</a>-->
            <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--                   routerLink="/docs/cards/social">Social cards</a>-->
            <!--                <a sdk-nav-menu-item routerLinkActive="active"-->
            <!--                   routerLink="/docs/cards/text">Text cards</a>-->
            <!--            </sdk-nav-menu-group>-->

            <!-- Layout -->
            <sdk-nav-menu-group label="Layout">
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/layout/accordion">Accordion</a>-->
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/layout/breadcrumbs">Breadcrumbs</a>-->
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/layout/calendar">Calendar</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/layout/carousel">Carousel</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/layout/charts">Charts</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/layout/divider">Divider</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/layout/list">Lists</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/layout/pagination">Pagination</a>
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/layout/progress">Progress</a>
                <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
                <!--                   routerLink="/docs/layout/table">Table</a>-->
                <a sdk-nav-menu-item routerLinkActive="active"
                   routerLink="/docs/layout/slider">Slider</a>
            </sdk-nav-menu-group>

            <!-- Media -->
            <!--            <sdk-nav-menu-group label="Media">-->
            <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--                   routerLink="/docs/media/files">Files</a>-->
            <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--                   routerLink="/docs/media/audio">Audio player</a>-->
            <!--                <a sdk-nav-menu-item routerLinkActive="active" disabled="true"-->
            <!--                   routerLink="/docs/media/video">Video player</a>-->
            <!--            </sdk-nav-menu-group>-->

        </sdk-nav-menu-group>


        <!-- Resources -->
        <sdk-nav-menu-group label="Resources">
            <a sdk-nav-menu-item routerLinkActive="active"
               routerLink="/resources/about">About</a>
            <a sdk-nav-menu-item routerLinkActive="active"
               routerLink="/resources/roadmap">Roadmap</a>
            <a sdk-nav-menu-item routerLinkActive="active"
               [href]="rovergulfUrl" target="_blank">rovergulf.net</a>
        </sdk-nav-menu-group>

    </sdk-nav-menu>

</nav>
