<main>
    <h1>Project roadmap</h1>
    <section>
        <h3>Version 1</h3>

        <div class="flex-row layout-start-start flex-wrap">
            <div class="feature-list flex-column layout-start-stretch">
                <h4>Buttons module</h4>
                <ul>
                    <li>
                        <a>Button</a>
                    </li>
                    <li>
                        <a>Icon</a>
                    </li>
                    <li>
                        <a>Segmented buttons</a>
                    </li>
                </ul>
            </div>

            <div class="feature-list flex-column layout-start-stretch">
                <h4>Inputs module</h4>
                <ul>
                    <li>
                        <a>Checkbox</a>
                    </li>
                    <li>
                        <a>Input</a>
                    </li>
                    <li>
                        <a>Radio</a>
                    </li>
                    <li>
                        <a>Switch</a>
                    </li>
                    <li>
                        <a>Textarea</a>
                    </li>
                </ul>

            </div>

            <div class="feature-list flex-column layout-start-stretch">
                <h4>Dropdowns module</h4>
                <ul>
                    <li>
                        <a>Autocomplete</a>
                    </li>
                    <li>
                        <a>Dropdown menu</a>
                    </li>
                    <li>
                        <a>Select</a>
                    </li>
                </ul>
            </div>

            <div class="feature-list flex-column layout-start-stretch">
                <h4>Modals module</h4>
                <ul>
                    <li>
                        <a>Alerts</a>
                    </li>
                    <li>
                        <a>Dialog</a>
                    </li>
                    <li>
                        <a>Segmented buttons</a>
                    </li>
                    <li>
                        <a>Tooltip</a>
                    </li>
                </ul>
            </div>

            <div class="feature-list flex-column layout-start-stretch">
                <h4>Navigation module</h4>
                <ul>
                    <li>
                        <a>Menu</a>
                    </li>
                    <li>
                        <a>Sidenav</a>
                    </li>
                    <li>
                        <a>Tabs</a>
                    </li>
                    <li>
                        <a>Nav Tabs</a>
                    </li>
                </ul>
            </div>

            <div class="feature-list flex-column layout-start-stretch">
                <h4>Layout module</h4>
                <ul>
                    <li>
                        <a>Carousel</a>
                    </li>
                    <li>
                        <a>Divider</a>
                    </li>
                    <li>
                        <a>Pagination</a>
                    </li>
                    <li>
                        <a>Progress</a>
                    </li>
                    <li>
                        <a>Slider</a>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <section disabled>
        <h3>Version 2</h3>

        <!--        <div class="flex-row layout-start-start">-->
        <!--            <div class="flex-column layout-start-stretch">-->
        <!--                <ul>-->
        <!--                    <li></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
    </section>

    <section disabled>
        <h3>Version 3</h3>
        <!--        <div class="flex-row layout-start-start">-->
        <!--            <div class="flex-column layout-start-stretch">-->
        <!--                <ul>-->
        <!--                    <li></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
    </section>

    <section disabled>
        <h3>Version 4</h3>
        <!--        <div class="flex-row layout-start-start">-->
        <!--            <div class="flex-column layout-start-stretch">-->
        <!--                <ul>-->
        <!--                    <li></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--        </div>-->
    </section>
</main>
