<main>
    <h1>Project roadmap</h1>

    <ng-container *ngFor="let version of versions">
        <h3>{{version.name}}</h3>
        <div class="flex-row layout-start-start flex-wrap">
            <ng-container *ngFor="let v of version.children">
                <div class="feature-list flex-column layout-start-stretch">
                    <h4>{{v.title}}</h4>
                    <ul>
                        <ng-container *ngFor="let c of v.children">
                            <li [class.disabled]="!c.ready">
                                <a [routerLink]="c.link">{{c.name}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </ng-container>
        </div>
    </ng-container>

</main>
