@import './libs/ngx-slice-kit/src/lib/core/styles/core';

main {
    @extend .flex-column;
    @extend .layout-start-stretch;
    width: 100%;
    min-height: 100%;
    padding-bottom: 80px;
    //overflow-x: hidden;
}
