.container {
  h1 {
    padding: 0 16px;
  }
}

.icon-layout {
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  width: 256px;
  background: rgba(var(--regular-raw), 0.2);

  sdk-divider {
    margin: 8px auto;
  }

  .big {
    margin-right: 16px;
  }
}
