<section class="container flex-column">
    <h1>Style Guide</h1>

    <sdk-divider></sdk-divider>
</section>

<section class="container flex-column">
    <h2>Theme colors</h2>

    <div class="colors flex-row flex-wrap layout-center-center">
        <!-- var(--regular) -->
        <div class="color color--regular flex-column layout-center-center sdk-xm-3">
            <h3>Basic</h3>
        </div>

        <!-- var(--primary) -->
        <div class="color color--primary flex-column layout-center-center sdk-xm-3">
            <h3>Primary</h3>
        </div>

        <!-- var(--accent) -->
        <div class="color color--accent flex-column layout-center-center sdk-xm-3">
            <h3>Accent</h3>
        </div>

        <!-- var(--success) -->
        <div class="color color--success flex-column layout-center-center sdk-xm-3">
            <h3>Success</h3>
        </div>

        <!-- var(--warn) -->
        <div class="color color--warn flex-column layout-center-center sdk-xm-3">
            <h3>Warn</h3>
        </div>
    </div>

    <sdk-divider></sdk-divider>
</section>


<section class="container">

    <header>
        <h2>Typography styles</h2>
    </header>

    <article>
        <h1>H1 text</h1>
        <h2>H2 text</h2>
        <h3>H3 text</h3>
        <h4>H4 text</h4>
        <p class="sdk-text--large">Regular-large? text</p>
        <p class="sdk-text--medium">Regular-medium? text</p>
        <p>Regular text - also same styles for <b>label</b>-element</p>
        <p class="sdk-text--regular">Regular-regular? text</p>
        <p class="sdk-text--small">Regular-small? text</p>
        <small>Small text</small>
    </article>

</section>
