<main>
    <h1>Slice Kit Theme settings</h1>

    <h3>Core styles dependency:</h3>
    <sdk-tab-group>
        <sdk-tab label="src/styles.scss">
            <lib-code-snippet [value]="coreStylesExample"></lib-code-snippet>
        </sdk-tab>
        <sdk-tab label="angular.json">
            <lib-code-snippet [value]="angularJson"></lib-code-snippet>
        </sdk-tab>
    </sdk-tab-group>

    <h3>Themes</h3>

    <sdk-tab-group>
        <sdk-tab *ngFor="let t of themes" [label]="t.name">
            <lib-theme-settings [theme]="t"></lib-theme-settings>
        </sdk-tab>
    </sdk-tab-group>

    <h3>Register new theme</h3>



</main>
