<main>
    <h1>About</h1>

    <h3>Slice design kit</h3>
    <p>So our development team was impressed with <a href="//angular.io" target="_blank">Angular Framework</a> since it
        was released at first version. And years after, we decided to create own, open-source ui-component kit, to make
        your (and ours, to be sure) working process easier</p>

    <h3>Contributing</h3>
    <p>Right now <b>Slice Design Kit</b> in pre-release stage, so you may feel free to use it and <a href="https://github.com/rovergulf/ngx-slice-kit/issues"
                                                                                                     target="_blank">create
        issue</a></p>

    <h3>Note on dependency versioning</h3>
    <p><b>Slice Design Kit</b> is handled with <a target="_blank" href="https://dependabot.com/">GitHub's Dependabot</a> and we update our kit on stable feature releases channel frequency</p>

</main>
