<main>
    <h1>About</h1>

    <h3>Slice design kit</h3>
    <p>So our development team was impressed with <a href="//angular.io" target="_blank">Angular Framework</a> since it
        was released at first version. And years after, we decided to create own, open-source ui-component kit, to make
        your (and ours, to be sure) working process easier</p>

    <h3>Contributing</h3>
    <p>Right now <b>Slice Design Kit</b> in beta stage, and we want to be prepared to worldwide community with our
        product</p>
    <p>Currently we do not need any help, but after first version release, I think, it is a very important thing - we
        will have a feedback, and You as developer or manager can request features and improvements. Also there will be
        possibility to contribute to our projects, which would be appreciated as *bonuses at our services.</p>

    <br>
    <small>*When <a href="//rovergulf.net" target="_blank"><b>Rovergulf Engineers</b></a> bonus system will start all
        needed references would be posted here</small>
</main>
