@use './libs/ngx-slice-kit/src/lib/core/styles/core';

main {
    width: 100%;
    //overflow-x: hidden;

    pre {
    }

    code {
        padding: 16px;
    }

    .fake-tab-padding {
        padding: 0 24px;
        @extend .flex-column;
        @extend .layout-start-start;

        lib-code-snippet {
            width: 100%;
        }
    }

}
