<main>
    <h1>Get started</h1>
    <section class="flex-column layout-start-start">
        <h3>1. Install Angular CDK and ngx-slice-kit</h3>
        <code>
            ng add @angular/cdk
            ng add ngx-slice-kit
        </code>
        <p>or</p>
        <code>
            npm install @angular/cdk ngx-slice-kit --save
        </code>

        <h3>2. Read <a routerLink="/docs">Docs</a> and go on!</h3>
        <a sdk-flat-button routerLink="/docs">Go to API Documentation</a>
    </section>
</main>
