<main>
    <h1>Get started</h1>

    <span class="spacer"></span>

    <h3>1. Install Angular CDK and ngx-slice-kit</h3>
    <sdk-tab-group>
        <sdk-tab label="npm install">
            <lib-code-snippet [value]="npmExample"></lib-code-snippet>
        </sdk-tab>
        <sdk-tab label="ng add">
            <lib-code-snippet [value]="ngExample"></lib-code-snippet>
        </sdk-tab>
    </sdk-tab-group>

    <span class="spacer"></span>

    <h3>2. Import ngx-slice-kit to your app</h3>
    <lib-code-snippet [value]="appModuleExample"></lib-code-snippet>

    <span class="spacer"></span>

    <h3>3. Apply sdk-theme to your app:</h3>
    <lib-code-snippet [value]="themeExample"></lib-code-snippet>

    <span class="spacer"></span>

    <h3>4. Read <a routerLink="/docs">docs</a> and go on!</h3>
    <a sdk-flat-button routerLink="/docs">Go to API Documentation</a>
</main>
