@use './libs/ngx-slice-kit/src/lib/core/styles/core';

.source-code {
    position: relative;
    width: 100%;
    padding: 28px 16px 16px 16px;

    code {
        z-index: 1;
        white-space: pre-wrap;
    }

    .copy {
        position: absolute;
        background: rgba(var(--base-raw), 0.1);
        z-index: 2;
        top: 4px;
        right: 16px;
        font-size: 12px;
        padding: 4px 8px 4px 2px;
        border-radius: 2px;
        cursor: pointer;
        opacity: 0;
        transition: all .3s ease;
        white-space: nowrap;
        min-width: 104px;
        text-align: right;

        sdk-icon {
            margin-right: 4px;
        }

        &:hover {
            opacity: 0.75;
        }
    }

    &:hover {
        .copy {
            opacity: 1;
        }
    }
}
