<div sdkTheme id="wrap" #wrap [class]="layout.themeName">
    <app-header></app-header>
    <sdk-sidenav-container [hasBackdrop]="layout.mobileLayout"
                           [mode]="layout.mobileLayout ? 'over' : 'side'">
        <sdk-sidenav [opened]="layout.sidenavOpened" [styles]="sideNavStyle">
            <app-sidenav></app-sidenav>
        </sdk-sidenav>
        <sdk-sidenav-content>
            <section class="view flex-grow-1">
                <router-outlet></router-outlet>
            </section>
        </sdk-sidenav-content>
    </sdk-sidenav-container>

    <app-footer></app-footer>
</div>

