<section class="container">

    <header>
        <h2>Typography styles</h2>
    </header>

    <article>
        <h1>H1 text</h1>
        <h2>H2 text</h2>
        <h3>H3 text</h3>
        <h4>H4 text</h4>
        <p class="sdk-text--large">Regular-large? text</p>
        <p class="sdk-text--medium">Regular-medium? text</p>
        <p>Regular text - also same styles for <b>label</b>-element</p>
        <p class="sdk-text--regular">Regular-regular? text</p>
        <p class="sdk-text--small">Regular-small? text</p>
        <small>Small text</small>
    </article>

</section>
