.carousel-container {
    width: 100%;
    max-width: 880px;

    &.wide {
        max-width: 1440px
    }

    &.single {
        max-width: 349px;

        .carousel-slide {
            height: 524px;
        }
    }

    .carousel-slide {
        height: 400px;
        display: flex;
        justify-content: center;
        overflow: hidden;

        img {
            width: auto;
            height: 100%;
        }
    }
}


// ---------------------------------- media ----------------------------------

@media screen and (max-width: 1800px) {
    .carousel-container.wide {
        width: 1200px;
    }
}

@media screen and (max-width: 1480px) {
    .carousel-container.wide {
        width: 980px;
    }
}

@media screen and (max-width: 1280px) {
    .carousel-container.default,
    .carousel-container.wide,
    .carousel-container.single {
        width: 640px;
    }
}

@media screen and (max-width: 880px) {
    .carousel-container.default,
    .carousel-container.wide,
    .carousel-container.single {
        width: 420px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-container.default,
    .carousel-container.wide,
    .carousel-container.single {
        width: 300px;
    }
}


