.view {
    h1 {
        margin-bottom: 24px;
    }
}

.input-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .container-half {
        width: 50%;
        min-width: 320px;
    }

    sdk-input {
        margin: 0 16px 16px 0;
    }
}
