<main *ngIf="page">
    <h2 class="title">{{page.title}}</h2>

    <ng-container *ngIf="page.subtitle">
        <p class="subtitle">{{page.subtitle}}</p>
    </ng-container>

    <!-- API -->
    <ng-container *ngIf="page.apiVisible">
        <h3>Usage examples:</h3>
    </ng-container>

    <!-- Usage demos -->
    <ng-container *ngIf="page.demos?.length > 0">
        <ng-container *ngFor="let d of page.demos">
            <h3>{{d.title}}</h3>

            <ng-container *ngIf="d.description">
                <p>{{d.description}}</p>
            </ng-container>

            <div class="demo-container">

                <!-- ng template ref -->
                <p>Demo:</p>
                <div class="code-example" *ngIf="d.templateRef">
                    <ng-container [ngTemplateOutlet]="d.templateRef"></ng-container>
                </div>

                <span class="spacer"></span>

                <!-- Source code -->
                <p>Source code:</p>
                <sdk-tab-group>
                    <sdk-tab *ngFor="let v of getValues(d)" label="{{getValueTabName(v)}}">
                        <lib-code-snippet [value]="d.values[v]"></lib-code-snippet>
                    </sdk-tab>
                </sdk-tab-group>
            </div>
        </ng-container>
    </ng-container>

    <!-- API -->
    <ng-container *ngIf="page.apiVisible">
        <sdk-divider></sdk-divider>

        <h3>API Definition:</h3>

        <!-- API Definition Groups -->
        <ng-container *ngFor="let group of page.api_groups">
            <p *ngIf="group.name" class="api-group-title">{{group.name}}</p>

            <!-- API Definitions -->
            <ng-container *ngIf="group.apis?.length > 0">
                <lib-api-definitions-table [apis]="group.apis"></lib-api-definitions-table>
            </ng-container>

        </ng-container>
    </ng-container>

</main>

<!-- include ng template refs -->
<ng-content>
</ng-content>
