//@import '~highlight.js/styles/github.css';
@import './libs/ngx-slice-kit/src/lib/core/styles/core';

main {
    @extend .flex-column;
    @extend .layout-start-start;
    padding-bottom: 80px;

    & > * {
        margin: 16px 0 8px 0;
        width: 100%;
    }

    .title {
    }

    .subtitle {
        white-space: pre-wrap;
    }

    .demo-container {
        @extend .flex-column;
        @extend .layout-start-stretch;
        width: 100%;
        overflow: hidden;

        &>* {
            margin-bottom: 8px;
        }

        .source-wrap {
            width: 100%;
            overflow-x: auto;
        }

        .code-example-title {
        }

        .code-example {
            @extend .flex-column;
            @extend .layout-start-start;
            padding: 16px;
            background-color: rgba(var(--regular-raw), 0.1);
            min-height: 48px;

            &>* {
                margin-bottom: 8px;
            }
        }
    }

    .api-group-title {
        font-weight: 500;
        font-size: 16px;
    }

    sdk-divider {
        width: 80%;
        align-self: center;
        justify-self: center;
        margin-bottom: 32px;
    }
}
