<div class="content">
  <h1>NGX Slice Design Kit - v0.8.0 - demo</h1>
  <h3>Rovergulf BV - <a href="https://rovergulf.net" target="_blank">rovergulf.net</a></h3>
  <h3>@angular/core": "~11.2.3</h3>
  <p>Latest update: 17.03.2021</p>
  <p>Public repository: <a target="_blank" href="https://github.com/rovergulf/ngx-slice-kit">https://github.com/rovergulf/ngx-slice-kit</a></p>
    <p>Changelog available at: <a target="_blank" href="https://github.com/rovergulf/ngx-slice-kit">https://github.com/rovergulf/ngx-slice-kit</a></p>
</div>
