@import url('https://fonts.googleapis.com/css?family=:300,400,500,700&display=swap');

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url("/assets/fonts/Inter-Bold.woff") format("woff"),
  url("/assets/fonts/Inter-Bold.woff") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url("/assets/fonts/Inter-Regular.woff") format("woff"),
  url("/assets/fonts/Inter-Regular.woff") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("/assets/fonts/Inter-SemiBold.woff") format("woff"),
  url("/assets/fonts/Inter-SemiBold.woff") format("woff2");
}


