<main>
    <form>
        <div class="form-elem">
            <div class="flex-grow-1"></div>
        </div>
        <div class="form-elem">
            <div class="flex-grow-1"></div>
        </div>
        <div class="form-elem">
            <div class="flex-grow-1"></div>
        </div>
        <div class="form-elem">
            <div class="flex-grow-1"></div>
        </div>
        <div class="form-elem">
            <div class="flex-grow-1"></div>
        </div>
        <div class="form-elem">
            <div class="flex-grow-1"></div>
        </div>
        <div class="form-elem">
            <div class="flex-grow-1"></div>
        </div>

        <span class="spacer"></span>

        <button sdk-raised-button [size]="'full-width'">Register new theme</button>
    </form>
</main>
